@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

nav {
    color: white;
    background-color:blue;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white; 
    text-decoration: none; 
    padding: 8px 15px; 
    border-radius: 5px;
    font-weight: 600;
}

nav ul li a:hover{
    background-color: rgb(52, 52, 205); 
    color: #ffffff;
}
body{
    background-color: rgb(247, 245, 245);
}
#about{
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid black;
}

section {
    padding: 40px 20px;
    margin: 30px auto;
    max-width: auto;
    border-bottom: 1px solid black;
}
section:last-of-type {
    border-bottom: none;
}

.profile {
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    box-shadow: 0 0 0 2px black;
    display: block;
    margin: 0 auto;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    border-color: blue;
    margin-left: auto;
    margin-right: auto; 
}

table th, table td {
    border: 3px solid blue;
    padding: 12px;
    text-align: center;
}

table th {
    background-color: blue;
    color: white;
    font-weight: 600;
}
h2{
    text-align: center;
}

table tbody tr:hover {
    background-color: #e9e9e9;
}

#project1, #project2 {
    width: 600px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    margin: 50px auto;
    text-align: center;
}

#contact td[colspan="2"] {
  text-align: center;
}

button {
    width: 35%;
    background: #084da3;
    color: #fff;
    border: none;
    padding: 10px 0;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 8px;
}
button:hover {
  background: #053973;
}

.back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    background-color: #084da3;
    color: #fff;
    cursor: pointer;
    padding: 7px 15px;        
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.07);
    width: 10%;
}
.back-to-top-btn:hover {
  background-color: #053973;
}
